.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-jFe2TKwLHo80);
  font-size: var(--token-RrFIk_LR3RE6);
  line-height: var(--token-7NqASU3CjBt9);
  width: 100%;
  color: var(--token-tKkyx_cOAXBY);
  font-family: var(--token-wVEI76aJROuO);
  min-width: 0;
  border-radius: var(--token-N7O5kgPgmNnT);
  padding: var(--token-N7O5kgPgmNnT) var(--token-fBhY6tJgeD8V);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-K9KkPvofxTFE);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-np_8wRpAk3WO);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-SFS0bKM4wH7p);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-np_8wRpAk3WO);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-5eviYar52d0x);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-5eviYar52d0x);
}
