.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  padding-bottom: 148px;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navBar:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
  position: fixed;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___1UhyR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 32px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox___70QMx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: auto;
  max-width: 100%;
  margin-top: 45px;
  margin-left: 0px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___70QMx {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}
.freeBox__nd047 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nd047 {
    margin-top: 0px;
  }
}
.text__v43Ei {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-KzoV1vxcEP4w);
  font-size: 30px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__v43Ei {
    font-size: 18px;
    display: none;
  }
}
.freeBox___8CtKx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__pT1B {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__vQVm {
  position: relative;
  height: 1em;
}
.text__l9TSd {
  white-space: pre;
  padding-left: 0px;
}
.svg__zgXvf {
  position: relative;
  height: 1em;
}
.text__ss15H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  font-size: 18px;
  color: var(--token-SttGpHKVAEmZ);
  background: var(--token-BdSqnmJ-3NNy);
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 3px 10px;
}
.root .text__ss15H:hover {
  background: var(--token-LFvW0_x8k2hA);
}
.root .text__ss15H:active {
  background: var(--token-7qqjUfs1DM1E);
}
.text___3X6L0 {
  position: absolute;
  width: 300px;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  left: -60px;
  top: 62px;
}
.text__xAnVj {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-KzoV1vxcEP4w);
  font-size: 30px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xAnVj {
    margin-top: 0px;
    font-size: 24px;
  }
}
.freeBox__bLmrx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__gDxqJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: space-around;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: 35px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gDxqJ {
    margin-top: 2px;
  }
}
.freeBox__itbO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 31px;
  min-width: 0;
  padding: 8px;
}
.checkbox:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.recommendation:global(.__wab_instance) {
  z-index: 100;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .recommendation:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__izIvh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tmo {
  text-align: left;
  width: 100%;
  min-width: 0;
}
.popover__vtiBb:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.img__xdxDd {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  cursor: pointer;
  height: 25px;
}
.img__xdxDd > picture > img {
  object-fit: cover;
}
.freeBox__g3Q {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--token-iiqrps1yKdLE);
  width: 450px;
  border-radius: var(--token-s91Erq86FhZR);
  padding: var(--token-oFcNlmYfHib9);
}
.freeBox__g3Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-OSs6yIyQxq7Z));
  height: calc(100% + var(--token-OSs6yIyQxq7Z));
}
.freeBox__g3Q > :global(.__wab_flex-container) > *,
.freeBox__g3Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g3Q > :global(.__wab_flex-container) > picture > img,
.freeBox__g3Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-OSs6yIyQxq7Z);
}
.freeBox__qyeex {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___49GMc {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img___49GMc > picture > img {
  object-fit: cover;
}
.freeBox__p2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.textInput__lgy98:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
  flex-shrink: 0;
}
.text__dyBl4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  text-align: right;
  min-width: 0;
}
.freeBox__juqs1 {
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: 450px;
  height: auto;
  max-width: 100%;
  top: 62px;
  left: 444px;
  z-index: 1;
  align-self: flex-end;
  display: none;
  padding: 8px;
}
.text__cN9Cy {
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-iiqrps1yKdLE);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px 40px 15px 15px;
}
.img__sAf1X {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 30px;
  width: auto;
  right: 43px;
}
.img__sAf1X > picture > img {
  object-fit: cover;
}
.text__oaTti {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #b0a9a9;
  font-size: 16px;
  min-width: 0;
}
.text__ho3Eb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 19px;
  margin-top: 26px;
  cursor: pointer;
}
.root .text__ho3Eb:hover {
  text-decoration-line: underline;
}
.freeBox__brWoq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__nG4Qt {
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___6ODYz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.root .text___6ODYz:hover {
  color: var(--token-JHJihbO21-hH);
}
