.root:global(.__wab_instance) {
  position: relative;
  background: #ffffff;
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-OSs6yIyQxq7Z);
  font-family: var(--token-wVEI76aJROuO);
  font-size: var(--token-RrFIk_LR3RE6);
  line-height: var(--token-7NqASU3CjBt9);
  outline-style: none;
  text-decoration-line: none;
  color: #ffffff;
  border-radius: var(--token-N7O5kgPgmNnT);
  padding: 0rem;
  border: 0px solid #fffdfd;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-kkgIV8s0Yll-);
  outline-offset: 1px;
  outline-color: var(--token-K9KkPvofxTFE);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-KzoV1vxcEP4w);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-BWcqfLfZ_XdW);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-YURXbFyfFcBF);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-qHDjWq6aipE_);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-NHwGMindik4q);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-RchSCHiSuclz);
  font-size: var(--token-EgaUV6xHnMBL);
  column-gap: var(--token-kkgIV8s0Yll-);
  row-gap: 0px;
  border-radius: var(--token-GHU8T3OWujfT);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-EgaUV6xHnMBL);
  line-height: var(--token-RchSCHiSuclz);
  column-gap: var(--token-GHU8T3OWujfT);
  row-gap: 0px;
  border-radius: var(--token-GHU8T3OWujfT);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-3iyIO7Z1V49l);
  line-height: var(--token-pXUu3Pgp1d3L);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-3iyIO7Z1V49l);
  line-height: var(--token-pXUu3Pgp1d3L);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #ffffff;
  display: none;
  border-radius: var(--token-N7O5kgPgmNnT);
}
.softBackgroundcolor_neutral {
  background: var(--token-dXYVe1Lumenu);
}
.softBackgroundcolor_muted {
  background: var(--token-np_8wRpAk3WO);
}
.softBackgroundcolor_success {
  background: var(--token-p3vx9rhXAYwu);
}
.softBackgroundcolor_warning {
  background: var(--token-KwZDinTATHHt);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-96KuIMg8fo6R);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-N7O5kgPgmNnT);
  border: 0px solid var(--token-NHwGMindik4q);
}
.bordercolor_neutral {
  border-color: var(--token-7_JZMyTjk960);
}
.bordercolor_muted {
  border-color: var(--token-X8A9sdS7qsev);
}
.bordercolor_success {
  border-color: var(--token-4GKmfk_IfoUe);
}
.bordercolor_warning {
  border-color: var(--token-4k-BqvzitCsA);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Zh4HaNqyuEhF);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: var(--token-KzoV1vxcEP4w);
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.15s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.15s;
  border-radius: 20px;
}
.root[data-hovered] .interactionEffect {
  background: var(--token-8iTkkoTRk47k);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-KD8Z2YOfDWw1);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-V_FwEnMXoaNi);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__x06Zn {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 100%;
  background: var(--token-y6Nc89lUAs6v);
  flex-wrap: nowrap;
  align-content: stretch;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: 8px 15px 10px;
}
.freeBoxsize_extraSmall__x06Zn9Zfqo {
  padding: var(--token-GHU8T3OWujfT) var(--token-N7O5kgPgmNnT);
}
.freeBoxsize_small__x06ZnMRhlm {
  padding: var(--token-N7O5kgPgmNnT) var(--token-OSs6yIyQxq7Z);
}
.freeBoxsize_large__x06Zn1Ri8J {
  padding-top: var(--token-GHU8T3OWujfT);
  padding-bottom: var(--token-GHU8T3OWujfT);
}
.freeBoxsize_extraLarge__x06ZnzFxGe {
  padding-left: var(--token-s91Erq86FhZR);
  padding-right: var(--token-s91Erq86FhZR);
}
.freeBoxroundedFull__x06ZnNdF {
  padding-right: var(--token-s91Erq86FhZR);
  padding-left: var(--token-s91Erq86FhZR);
}
.freeBox__zpsWu {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__zpsWuCWG {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Vp6UZAnpt_uX);
}
.slotTargetStartcolor_neutral {
  color: var(--token-VUjw4RWtnAuM);
}
.slotTargetStartcolor_muted {
  color: var(--token-WOQ4tNuP7mZd);
}
.slotTargetStartcolor_success {
  color: var(--token-T7nGZeM8sIp2);
}
.slotTargetStartcolor_warning {
  color: var(--token-zYsnjRfsp9Nx);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-3d-4eN2Myz8B);
}
.slotTargetStarttype_soft {
  color: var(--token-23Ysp7DLNQ-T);
}
.slotTargetStarttype_bordered {
  color: var(--token-23Ysp7DLNQ-T);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-EgaUV6xHnMBL);
}
.slotTargetStartsize_small {
  font-size: var(--token-EgaUV6xHnMBL);
}
.slotTargetStartsize_large {
  font-size: var(--token-3iyIO7Z1V49l);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-3iyIO7Z1V49l);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-tzb3X1vKwuFo);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-tzb3X1vKwuFo);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-QeqiZEIK8plA);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-QeqiZEIK8plA);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-JrhHvorIP6kU);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-JrhHvorIP6kU);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-lChk4CpuqcOZ);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-lChk4CpuqcOZ);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-M6d1tkckqVww);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-M6d1tkckqVww);
}
.svg__fvPsR {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-Vp6UZAnpt_uX);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-VUjw4RWtnAuM);
}
.slotTargetLabelcolor_muted {
  color: var(--token-WOQ4tNuP7mZd);
}
.slotTargetLabelcolor_success {
  color: var(--token-T7nGZeM8sIp2);
}
.slotTargetLabelcolor_warning {
  color: var(--token-zYsnjRfsp9Nx);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-3d-4eN2Myz8B);
}
.slotTargetLabeltype_soft {
  color: var(--token-23Ysp7DLNQ-T);
}
.slotTargetLabeltype_bordered {
  color: var(--token-23Ysp7DLNQ-T);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-tzb3X1vKwuFo);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-QeqiZEIK8plA);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-tzb3X1vKwuFo);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-JrhHvorIP6kU);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-QeqiZEIK8plA);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-lChk4CpuqcOZ);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-JrhHvorIP6kU);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-M6d1tkckqVww);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-lChk4CpuqcOZ);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-M6d1tkckqVww);
}
.text__nW9W {
  white-space: pre;
}
.freeBox___08Nun {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___08NunsvEwy {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Vp6UZAnpt_uX);
}
.slotTargetEndcolor_neutral {
  color: var(--token-VUjw4RWtnAuM);
}
.slotTargetEndcolor_muted {
  color: var(--token-WOQ4tNuP7mZd);
}
.slotTargetEndcolor_success {
  color: var(--token-T7nGZeM8sIp2);
}
.slotTargetEndcolor_warning {
  color: var(--token-zYsnjRfsp9Nx);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-3d-4eN2Myz8B);
}
.slotTargetEndtype_soft {
  color: var(--token-23Ysp7DLNQ-T);
}
.slotTargetEndtype_bordered {
  color: var(--token-23Ysp7DLNQ-T);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-EgaUV6xHnMBL);
}
.slotTargetEndsize_small {
  font-size: var(--token-EgaUV6xHnMBL);
}
.slotTargetEndsize_large {
  font-size: var(--token-3iyIO7Z1V49l);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-3iyIO7Z1V49l);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-tzb3X1vKwuFo);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-tzb3X1vKwuFo);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-QeqiZEIK8plA);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-QeqiZEIK8plA);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-JrhHvorIP6kU);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-JrhHvorIP6kU);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-lChk4CpuqcOZ);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-lChk4CpuqcOZ);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-M6d1tkckqVww);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-M6d1tkckqVww);
}
.svg__x9OEj {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
