.root {
  display: flex;
  width: 100%;
  height: 71px;
  max-width: 100%;
  background: linear-gradient(0deg, var(--token-om7sISMiJYUB) 0%, #655dbb 100%)
      0% 0% / 100% 100% repeat,
    var(--token-KzoV1vxcEP4w);
  flex-grow: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #54515133;
  position: relative;
  min-width: 0;
  padding: 0px 20px;
}
.text__bLrN4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-23Ysp7DLNQ-T);
  font-size: 60px;
  text-align: left;
  font-family: "Allura";
  padding-left: 33px;
  padding-top: 11px;
}
.freeBox__pzFTs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__hSiP0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 130px;
  height: 55px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hSiP0 {
    width: 50px;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.root .freeBox__hSiP0:hover {
  background: var(--token-KD8Z2YOfDWw1);
  left: auto;
  top: auto;
}
.img__wOl57 {
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img__wOl57 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__wOl57 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
.text__wd2D0 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iiqrps1yKdLE);
  text-align: center;
  background: var(--token-UgfV4OMzoQbj);
  opacity: 1;
  left: 21px;
  top: 67px;
  font-size: 14px;
  padding: 4px 8px;
}
.freeBox__zmy9O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 130px;
  height: 55px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zmy9O {
    width: 50px;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.root .freeBox__zmy9O:hover {
  background: var(--token-KD8Z2YOfDWw1);
  left: auto;
  top: auto;
}
.img__f62Im {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.img__f62Im > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__f62Im {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.text__sqXno {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iiqrps1yKdLE);
  text-align: center;
  background: var(--token-UgfV4OMzoQbj);
  opacity: 1;
  left: 12px;
  top: 67px;
  font-size: 14px;
  padding: 4px 8px;
}
.freeBox__gPu4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 130px;
  height: 55px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gPu4 {
    width: 50px;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.root .freeBox__gPu4:hover {
  background: var(--token-KD8Z2YOfDWw1);
  left: auto;
  top: auto;
}
.img___2IiOt {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img___2IiOt > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2IiOt {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }
}
.text__wpMrs {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iiqrps1yKdLE);
  text-align: center;
  background: var(--token-UgfV4OMzoQbj);
  opacity: 1;
  left: 19px;
  top: 67px;
  font-size: 14px;
  padding: 4px 8px;
}
.freeBox__bOGs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 130px;
  height: 55px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bOGs {
    width: 50px;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.root .freeBox__bOGs:hover {
  background: var(--token-KD8Z2YOfDWw1);
  left: auto;
  top: auto;
}
.img__njWcS {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img__njWcS > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__njWcS {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }
}
.text__jjFui {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-iiqrps1yKdLE);
  text-align: center;
  background: var(--token-UgfV4OMzoQbj);
  opacity: 1;
  left: 0px;
  top: 67px;
  font-size: 14px;
  padding: 4px 8px;
}
.freeBox___57Kti {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 130px;
  height: 55px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: auto;
  top: auto;
  align-self: center;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___57Kti {
    width: 50px;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.root .freeBox___57Kti:hover {
  background: var(--token-KD8Z2YOfDWw1);
  left: auto;
  top: auto;
}
.text___5LnP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  color: #ffffff;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5LnP {
    font-size: 14px;
  }
}
