.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-iiqrps1yKdLE);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-X8A9sdS7qsev);
  border-radius: var(--token-fBhY6tJgeD8V);
  padding: var(--token-N7O5kgPgmNnT);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__uke1G:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
